In [8]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import pymongo
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, roc_auc_score

In [3]:
#Read Dataset
Data = pd.read_csv('Bank Customer Churn Prediction.csv')

In [5]:
data = Data.to_dict(orient='records')
# data

In [7]:
DB_NAME = "Proj2"
COLLECTION_NAME = "Proj2-Data"
CONNECTION_URL = "mongodb+srv://ankitabetageri:zhiBuiKXKjb8Jois@cluster0.nbfhfsg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [9]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [10]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [11]:
df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,67f5fa62b4767a8794f86d8a,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,67f5fa62b4767a8794f86d8b,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0